body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background: linear-gradient(90deg, #997527, #1abc9c);
  color: white;
  padding: 40px;
  text-align: center;
}

.profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.container {
  width: 80%;
  margin: auto;
}

h1 {
  margin: 10px 0;
  font-size: 2em;
}

p {
  font-size: 1em;
  line-height: 1.6;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #e67e22;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.about {
  background-color: white;
  padding: 40px 0;
}

.about h2 {
  text-align: center;
  margin-bottom: 20px;
}
footer{
    text-align: center;
    margin-bottom: 20px;
    color: black;
}
.progress-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
  height: 30px;
  margin: 20px 0;
}

.progress-bar {
  height: 100%;
  background:linear-gradient(60deg,#e0dcdc,#14bd22);
  color: white;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  transition: width 0.4s ease;
}
/* ===== Contact Form Wrapper ===== */
.contact-form {
    width: 100%;
    max-width: 500px;
    margin: 30px auto;
    padding: 30px;
    background:linear-gradient(60deg,#231b14,#e0dcdc);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Heading */
.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

/* Inputs */
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #600d0d;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Focus */
.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

/* Textarea */
.contact-form textarea {
    resize: none;
    min-height: 120px;
}

/* Button */
.contact-form button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #f1eced, #141275);
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #0056b3;
}

